/* デスクトップ向け */
@media screen and (min-width:1025px){
    .content-outer {
        width: 100%
    }

    .content {
        margin: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .title-outer {
        width: 100%;
    }

    .title {
        border: double 5px gold;
        border-radius: 5px;
        background-color: hotpink;
        margin: 5px 5px 5px auto;
        padding: 30px;
        width: 30%;
        color: white;
        font-size: 30px;
    }

    .subtitle-outer {
        margin: 50px auto 5px;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .subtitle {
        border-radius: 5px;
        margin: 15px auto;
        width: 90%;
    }

    .inputs-group {
        border: solid 1px black;
        border-radius: 5px;
        margin: 5px auto 50px;
        padding-top: 30px;
        padding-left: 30px;
        width: 90%;
        text-align: left;
    }

    .name-outer {
        margin: 30px auto 0;
    }

    .email-outer {
        margin: 30px auto 0;
    }

    .password-outer {
        margin: 30px auto 0;
    }

    .inputs-group div input {
        padding: 10px 20px;
        font-size: 25px;
        width: 80%;
    }

    .error-outer {
        margin: 0;
        height: 25px;
        padding: 0 auto 0 auto;
    }

    .error-p {
        margin-top: 0;
        padding-left: 30px;
        font-size: 20px;
        font-style: italic;
    }

    .button-outer {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    ::placeholder {
        color: gray;
        font-weight: lighter;
    }

    .button {
        border: 0;
        border-radius: 5px;
        background-color: #305DFF;
        margin-right: 50px;
        margin-bottom: 30px;
        padding: 10px 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .logout-outer {
        margin: 50px auto;
        width: 100%;
    }

    .logout-button {
        border: 0;
        border-radius: 5px;
        background-color: gainsboro;
        padding: 10px 20px;
        font-size: 15px;
        color: black;
        cursor: pointer;
    }
}

/* ノートPC向け */
@media (min-width: 769px) and (max-width:1024px) {
    .content-outer {
        width: 100%
    }

    .content {
        margin: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .title-outer {
        width: 100%;
    }

    .title {
        border: double 5px gold;
        border-radius: 5px;
        background-color: hotpink;
        margin: 5px 5px 5px auto;
        padding: 30px;
        width: 30%;
        color: white;
        font-size: 30px;
    }

    .subtitle-outer {
        margin: 50px auto 5px;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .subtitle {
        border-radius: 5px;
        margin: 15px auto;
        width: 90%;
    }

    .inputs-group {
        border: solid 1px black;
        border-radius: 5px;
        margin: 5px auto 50px;
        padding-top: 30px;
        padding-left: 30px;
        width: 90%;
        text-align: left;
    }

    .name-outer {
        margin: 30px auto 0;
    }

    .email-outer {
        margin: 30px auto 0;
    }

    .password-outer {
        margin: 30px auto 0;
    }

    .inputs-group div input {
        padding: 10px 20px;
        font-size: 25px;
        width: 80%;
    }

    .error-outer{
        margin: 0;
        height: 25px;
        padding: 0 auto 0 auto;
    }

    .error-p {
        margin-top: 0;
        padding-left: 30px;
        font-size: 20px;
        font-style: italic;
    }

    .button-outer {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    ::placeholder {
        color: gray;
        font-weight: lighter;
    }

    .button {
        border: 0;
        border-radius: 5px;
        background-color: #305DFF;
        margin-right: 50px;
        margin-bottom: 30px;
        padding: 10px 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .logout-outer {
        margin: 50px auto;
        width: 100%;
    }

    .logout-button {
        border: 0;
        border-radius: 5px;
        background-color: gainsboro;
        padding: 10px 20px;
        font-size: 15px;
        color: black;
        cursor: pointer;
    }
}

/* タブレット向け */
@media (min-width: 426px) and (max-width:768px) {
    .content {
        margin: 5px;
        width: 100%;
        padding: 0 25px;
        display: block;
    }

    .title-outer {
        width: 100%;
        text-align: center;
    }

    .title {
        border: double 4px gold;
        border-radius: 5px;
        background-color: hotpink;
        margin: 4px 4px 4px auto;
        padding: 15px;
        width: 40%;
        color: white;
        font-size: 15px;
    }

    .subtitle-outer {
        margin: 40px auto 4px;
        width: 90%;
        text-align: center;
    }

    .subtitle {
        border-radius: 5px;
        margin: 12px auto;
        width: 100%;
        font-size: 17px;
    }

    .inputs-group {
        border: solid 1px black;
        border-radius: 5px;
        margin: 4px auto 40px;
        padding-left: 24px;
        width: 80%;
        text-align: left;
    }

    .name-outer {
        margin: 24px auto;
    }

    .email-outer {
        margin: 24px auto;
    }

    .password-outer {
        margin: 24px auto;
    }

    .inputs-group div input {
        padding: 8px 16px;
        font-size: 20px;
        width: 80%;
    }

    ::placeholder{
        font-size: 10px;
    }

    .error-outer {
        margin: 0;
        height: 20px;
        padding: 0 auto 0 auto;
    }

    .error-p {
        margin-top: 0;
        padding-left: 24px;
        font-size: 16px;
        font-style: italic;
    }

    .button-outer {
        margin: 50px;
        width: 90%;
        display: flex;
        justify-content: right;
    }

    .button {
        border: 0;
        border-radius: 5px;
        background-color: #305DFF;
        margin-right: 40px;
        padding: 8px 16px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }

    .logout-outer {
        margin: 40px auto;
        width: 90%;
        text-align: center;
    }

    .logout-button {
        border: 0;
        border-radius: 5px;
        background-color: gainsboro;
        padding: 8px 16px;
        font-size: 12px;
        color: black;
        cursor: pointer;
    }
}

/* スマートフォン向け */
@media screen and (max-width:425px) {
    .content {
        margin: 5px;
        width: 100%;
        padding: 0 25px;
        display: block;
    }

    .title-outer {
        width: 100%;
        text-align: center;
    }

    .title {
        border: double 4px gold;
        border-radius: 5px;
        background-color: hotpink;
        margin: 4px 4px 4px auto;
        padding: 7px;
        width: 50%;
        color: white;
        font-size: 12px;
    }

    .subtitle-outer {
        margin: 40px auto 4px;
        width: 90%;
        text-align: center;
    }

    .subtitle {
        border-radius: 5px;
        margin: 12px auto;
        width: 100%;
        font-size: 15px;
    }

    .inputs-group {
        border: solid 1px black;
        border-radius: 5px;
        margin: 4px auto 10px;
        padding-left: 24px;
        width: 80%;
        text-align: left;
    }

    .name-outer {
        margin: 10px auto;
    }

    .email-outer {
        margin: 10px auto;
    }

    .password-outer {
        margin: 10px auto;
    }

    .inputs-group div input {
        padding: 8px 16px;
        font-size: 20px;
        width: 80%;
    }

    ::placeholder {
        font-size: 10px;
    }

    .error-outer {
        margin: 0;
        height: 10px;
        padding: 0 auto 0 auto;
    }

    .error-p {
        margin-top: 0;
        padding-left: 24px;
        font-size: 10px;
        font-style: italic;
    }

    .button-outer {
        margin: 20px 10px;
        width: 90%;
        display: flex;
        justify-content: right;
    }

    .button {
        border: 0;
        border-radius: 5px;
        background-color: #305DFF;
        padding: 8px 16px;
        color: white;
        font-size: 10px;
        cursor: pointer;
    }

    .logout-outer {
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }

    .logout-button {
        border: 0;
        border-radius: 5px;
        background-color: gainsboro;
        padding: 8px 16px;
        font-size: 12px;
        color: black;
        cursor: pointer;
    }
}