.content-outer {
    width: 100%
}

.content {
    margin: 5px;
    padding: 0 50px;
    text-align: center;
}

.title-outer {
    width: 100%;
}

.title {
    border: double 5px gold;
    border-radius: 5px;
    background-color: orangered;
    margin: 5px 5px 5px auto;
    padding: 30px;
    width: 400px;
    color: white;
    font-size: 30px;
}

.subtitle-outer{
    margin: 50px auto 5px;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.subtitle{
    border-radius: 5px;
    margin: 15px auto;
    width: 600px;
}

.inputs-group{
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px auto 50px;
    padding-left: 30px;
    width: 1200px;
    text-align: left;
}

.error-outer {
    margin: 0;
    height: 25px;
    padding: 0 auto 0 auto;
}

.error-p {
    margin-top: 0;
    padding-left: 30px;
    font-size: 20px;
    font-style: italic;
}
.area-outer{
    margin: 30px auto;
}

.genre-outer {
    margin: 30px auto;
}

.name-outer {
    margin: 30px auto;
}

.detail-outer {
    margin: 30px auto;
}

.img-outer {
    margin: 30px auto;
}

.inputs-group div select{
    font-size: 25px;
}

.inputs-group div input{
    font-size: 25px;
    width: 500px;
}

.inputs-group div textarea{
    font-size: 25px;
}

.shop-img__title{
    font-size: 25px;
}

.button-outer{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}

::placeholder {
    color: gray;
    font-weight: lighter;
}

.button{
    border: 0;
    border-radius: 5px;
    background-color: #305DFF;
    margin-right: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.back-link {
    border: 0;
    border-radius: 5px;
    background-color: gainsboro;
    margin-right: 70px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    cursor: pointer;
}