.content-outer {
    width: 100%
}

@media screen and (max-width:768px) {
    .content-outer {
        width: 768px;
    }
}

.content {
    margin: 5px;
    padding: 0 50px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .content {
        margin: 5px;
        width: 768px;
        padding: 0 25px;
        display: block;
    }
}

.done-box {
    border: double 5px #305DFF;
    border-radius: 5px;
    margin: 50px auto;
    padding: 100px 30px;
    width: 800px;
}

@media screen and (max-width:768px) {
    .done-box {
        border: double 4px #305DFF;
        border-radius: 5px;
        margin: 40px auto;
        padding: 80px 24px;
        width: 640px;
    }
}

.done-message {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width:768px) {
    .done-message {
        margin: 0 auto;
        width: 550px;
        font-weight: lighter;
        text-align: center;
        font-size: 32px;
    }
}

.link-outer {
    margin: 30px auto;
    width: 100%;
    height: 80px;
    padding: 25px;
}

@media screen and (max-width:768px) {
    .link-outer {
        width: 550px;
        height: 64px;
        margin:  30px auto 0;
        padding: 20px;
    }
}

.back-link {
    border-radius: 5px;
    background-color: #305DFF;
    margin: 30px auto;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .back-link {
        border-radius: 5px;
        background-color: #305DFF;
        margin: auto;
        color: white;
        text-decoration: none;
        padding: 8px 24px;
        cursor: pointer;
        text-decoration: none;
    }
}