@media screen and (min-width:769px) {
    .content-outer {
        width: 100%
    }

    .content {
        margin: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .done-box {
        box-shadow: 3px 3px 3px gainsboro;
        border: solid 1px gainsboro;
        border-radius: 5px;
        margin: 50px auto;
        padding: 100px auto;
        width: 700px;
    }

    .done-message {
        margin: 100px auto 50px;
        width: 100%;
        font-weight: lighter;
        text-align: center;
    }

    .button-outer {
        width: 100%;
        height: 80px;
        margin-bottom: 50px;
        padding: 25px;
    }

    .choices{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        height: 50px;
        padding: 0;
    }

    .choices a{
        margin: 0;
        padding: 10px 15px;
        width: 130px;
        height: 40px;
        border: solid 1px black;
        border-radius: 5px;
        background-color: gainsboro;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
    }

    .logout-button,
    .mypage-button {
        padding: 10px 15px;
        width: 130px;
        height: 40px;
        border: solid 1px black;
        border-radius: 5px;
        background-color: gainsboro;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .done-box {
        box-shadow: 3px 3px 3px gainsboro;
        border: solid 1px gainsboro;
        border-radius: 5px;
        margin: 50px auto;
        padding: auto;
        width: 300px;
        text-align: center;
    }

    .done-message {
        margin: 50px auto;
        width: 90%;
        font-weight: lighter;
        text-align: center;
        font-size: 15px;
    }

    .button-outer {
        width: 100%;
        height: 64px;
    }

    .choices {
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin-left: 5px;
        height: 40px;
        padding: 0;
    }

    .choices a {
        margin-top: 5px;
        padding: 5px 10px;
        width: 60px;
        height: 20px;
        border: solid 1px black;
        border-radius: 5px;
        background-color: gainsboro;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 7px;
    }

    .logout-button,
    .mypage-button {
        margin-right: 20px;
        padding: 5px 10px;
        width: 60px;
        height: 20px;
        border: solid 1px black;
        border-radius: 5px;
        background-color: gainsboro;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 7px;
    }
}