.content-outer {
    width: 100%
}

.content {
    margin: 5px;
    padding: 0px 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.reservation-list__box{
    margin: 30px auto;
    width: 600px;
}

.reservation-list__title{
    padding-left: 40px;
    width: 550px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.each-reservation__box{
    background-color: #305DFF;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    margin: 30px auto;
    padding: 30px;
    width: 550px;
    height: 400px;
    color: white;
}

.each-reservation__title-row{
    width: 500px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: left;
}

.each-reservation__title-row img{
    margin: auto 30px;
    width: 50px;
    height: 40px;
}

.each-title{
    margin-top: 10px;
    width: 150px;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
}

.close{
    background-color: #305DFF;
    border-radius: 50px;
    border: solid 3px white;
    margin-top: 10px;
    margin-left: 150px;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.each-reservation__table{
    margin: 5px auto;
    width: 400px;
    text-align: left;
    font-size: 20px;
}

.each-reservation__table tr{
    margin: 10px auto;
    width: 300px;
    height: 50px;
}

.each-reservation__table th{
    margin: 5px auto;
    width: 100px;
    font-weight: lighter;
}

.each-reservation__table td{
    margin: 5px auto;
    width: 250px;
}

.to-change__button-outer{
    padding-right: 30px;
    width: 100%;
    text-align: right;
}

.to-change__button{
    border-radius: 5px;
    border: 0;
    background-color: white;
    padding: 5px 20px;
    color: #305DFF;
    font-size: 15px;
    cursor: pointer;
}

.favorites-box{
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

.user-name{
    margin: 0;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.favorites-title{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

.favorites-content{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.each-favorite__box {
    border-radius: 5px;
    margin: 15px;
    width: 350px;
    height: 350px;
    box-shadow: 3px 3px 5px gray;
}

.shop-img {
    width: 350px;
    height: 200px;
}

.shop-img img {
    width: 350px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shop-content {
    width: 100%;
}

.shop-name {
    margin: 10px auto;
    width: 300px;
    font-size: 20px;
}

.area-genre__row {
    margin: 5px auto;
    width: 300px;
    display: flex;
    justify-content: left;
}

.shop-area {
    font-size: 15px;
    font-family: "Zen Old Mincho", serif;
    font-weight: 500;
    font-style: normal;
}

.shop-genre {
    font-size: 15px;
    font-family: "Zen Old Mincho", serif;
    font-weight: 500;
    font-style: normal;
}

.button-outer {
    margin: 5px auto;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.detail-button {
    background-color: #305DFF;
    border: 0;
    margin: 5px 5px auto 5px;
    padding: 0 15px;
    border-radius: 5px;
    height: 35px;
    color: #fefefe;
    font-size: 13px;
    cursor: pointer;
}

.like-button {
    border: 0;
    background-color: white;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.like-button img {
    background-color: white;
    border: 0;
    width: 45px;
    height: 45px;
}

