.content-outer {
    width: 100%
}

.content {
    margin: 5px;
    padding: 0 50px;
    text-align: center;
}

.register-box{
    box-shadow: 3px 3px 3px gainsboro;
    border-radius: 5px;
    margin: 50px auto;
    padding-bottom: 30px;
    width: 500px;
}

.title{
    background-color: #305DFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: left;
    padding: 20px;
    font-weight: lighter;
}

.form__error{
    height: 30px;
    padding-left: 80px;
    text-align: left;
    color: red;
}

.name-row{
    width: 100%;
}

.name-row img{
    width: 60px;
    height: 45px;
}

.name-row input{
    border: 0;
    border-bottom: solid 1px black;
    padding-top: 10px;
    width: 400px;
    height: 45px;
    font-size: 17px;
}

.email-row {
    width: 100%;
}

.email-row img {
    width: 60px;
    height: 45px;
}

.email-row input {
    border: 0;
    border-bottom: solid 1px black;
    padding-top: 10px;
    width: 400px;
    height: 45px;
    font-size: 17px;
}

.password-row {
    width: 100%;
}

.password-row img {
    width: 60px;
    height: 45px;
}

.password-row input {
    border: 0;
    border-bottom: solid 1px black;
    padding-top: 10px;
    width: 400px;
    height: 45px;
    font-size: 17px;
}

.register-button__outer{
    width: 100%;
    height: 50px;
    text-align: right;
}

.register-button{
    border: 0;
    border-radius: 5px;
    background-color: #305DFF;
    color: white;
    margin: 15px 50px 5px auto;
    padding: 5px 20px;
    cursor: pointer;
}